.col-centered{
    float: none;
    margin: 0 auto;
}

.meal-image{
	width: 100%;
	height: 250px;
	background-position: center;
  	/* Make the background image cover the area of the <div>, and clip the excess */
  	background-size: cover;
}