{% extends "layout.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}" >
{% endblock %}
{% block body %}    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sticky-top sb">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search meals" aria-label="Search" id="search_box">
                  <div class="v_divider"></div>
                  <button class="btn btn-outline-success my-2 my-sm-0" onclick=search()>Search</button>
                  <div class="divider"> </div>
                  <button class="btn btn-outline-danger my-2 my-sm-0" onclick=clearSearch()>Clear</button>
                </div>
            <div class="col-sm-6" id="meal_display">
            {%for meal in meals%}
            <details id={{meal._id}}_details>
                <summary>
                  <div class="row align-items-center">
                      <div class="col-sm-2">
                        <img src={{ meal.img_url }} id={{ meal._id }} draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" class="img-fluid img-thumbnail" alt="Image of {{ meal.name }}">
                      </div>
                      <div class="col-sm-10">
                          <h2 id={{meal._id}}_name>{{meal.name}}</h2>
                          <p>Approximate cooking time: {{meal.total_cooking_time}}</p>
                          <small> <a class="nav-link" href="/meals/{{meal._id}}">View details</a></small>
                      </div>
                  </div>
                </summary>
                <h5>Ingredients</h3>
                  <ul>
                    {% for ingredient in meal.ingredients %}
                      <li>{{ingredient}}</li>
                    {% endfor %}
                  </ul> 
                <h5>Instructions:</h3>
                <p> 
                  <ol>
                  {% for step in meal.recipe %}
                    <li>{{ step }}</li>
                  {% endfor %}
                  </ol>
                </p>
		<p>
                	<small id="{{meal._id}}_tags">Tags:
                	{% for tag in meal.tags %}
                	 <a href="#" onclick=setSearch("{{tag}}")>{{tag}}</a>
                	{% endfor %}
                	 </small>
                </p>
              </details>
              <hr id="{{meal._id}}_hr">
            {% endfor %}
            </div>
          <div class="col-sm-3 sb">
            <form>
                <h3>Create your meal plan</h3>
				<input type="text" id="meal_plan_name" class="form-control" placeholder="My Meal Plan" aria-label="Meal plan name">
				<hr>
				<h4>Set your tags</h4>
				<select multiple data-role="tagsinput"></select>
				<hr>
				<h4>How many days is your meal plan?</h4>
				<div class="row">
					<div class="col-sm-2">
					<button type="button" onclick="setDisplayPlan(3)" class="btn btn-primary">3</button>
					</div>
					<div class="col-sm-2">
					<button type="button" onclick="setDisplayPlan(5)" class="btn btn-primary">5</button>
					</div>
					<div class="col-sm-2">
					<button type="button" onclick="setDisplayPlan(7)" class="btn btn-primary">7</button>
					</div>
				</div>
				<br>
                <div id="siteAds"></div>
            </form>
          </div>
      </div>
  </div>
  <!--<footer id="pageFooter">Footer</footer>-->

<!-- Page scripts -->
<script>
	var plan = [];
	var inplan = 0;
	var dur;
	
	function setDisplayPlan(duration) {
			var num = 0;
			plan = [];
			inplan = 0;
			dur = duration;
			var e = document.getElementById("siteAds");
			<!-- Resets the siteads div -->
			e.innerHTML = "";
			var warningNode = document.createElement("h5");
			warningNode.appendChild(document.createTextNode("Drag meal images to your meal plan"));
			e.appendChild(warningNode);
			var idCount = 0;
			while (num < duration) {
				num++;
				var detailsNode = document.createElement("details");
				var summaryNode = document.createElement("summary");
				var titleNode = document.createElement("h3");
				var textNode = document.createTextNode("Day " + num);
				
				titleNode.appendChild(textNode);
				summaryNode.appendChild(titleNode);
				detailsNode.appendChild(summaryNode);

				var mealTime = ["Breakfast", "Lunch", "Dinner"];
				var rowNode = document.createElement("div");
				var rowNode2 = document.createElement("div");
				var rowNode3 = document.createElement("div");
				
				rowNode.className = "row";
				rowNode2.className = "row";
				rowNode3.className = "row";
				
				for (var i = 0; i < 3; i++) {
					var colNode = document.createElement("div");
					var colNode2 = document.createElement("div");
					var colNode3 = document.createElement("div");
					var text = document.createTextNode(mealTime[i]);
					var circleNode = document.createElement("canvas");
					var deleteNode = document.createElement("button");
					
					circleNode.id = ("canvas" + idCount);
					circleNode.className = "meal_drop_circle";
					circleNode.appendChild(document.createTextNode("Your browser does not support HTML5 canvas tag."));
					deleteNode.id = ("delete" + idCount);
					deleteNode.innerHTML = "Remove meal";
					deleteNode.className = "btn btn-outline-danger btn-sm";
					deleteNode.addEventListener('click', function() {
						deleteMealFromPlan(this.id);
					}, false);
					deleteNode.disabled = true;

					colNode.className = "col";
					colNode2.className = "col";
					colNode3.className = "col";
					colNode.appendChild(text);
					colNode2.appendChild(circleNode);
					colNode3.appendChild(deleteNode);
					
					rowNode.appendChild(colNode);
					rowNode2.appendChild(colNode2);
					rowNode3.appendChild(colNode3);
					idCount++;
				}
				detailsNode.appendChild(rowNode);
				detailsNode.appendChild(rowNode2);
				detailsNode.appendChild(rowNode3);
				
				e.appendChild(detailsNode);
				e.appendChild(document.createElement("hr"));
			}
			draw();
			setDroppable();
			var b = document.createElement('input');
			b.type = 'button';
			b.value = "Save Meal Plan";
			b.id = "saveMealPlanBtn";
			b.className = "btn btn-outline-success btn-lg btn-block";
			b.addEventListener('click', function() {
    			saveMealPlan();
			}, false);
			e.appendChild(b);
			b.disabled = true;
	}
	
	function setDroppable() {
		var c = document.getElementsByClassName("meal_drop_circle");
		for (var i = 0; i < c.length; i++) {
			c[i].ondrop = function() {
				drop(event);
				var x = this.id.match(/\d+$/)[0];
				if(!plan[x]){
					inplan++;
				}
				plan[x] = event.dataTransfer.getData("text");
				console.log(inplan);
				if(inplan > 0){
					document.getElementById("saveMealPlanBtn").disabled = false;
				}
				b = document.getElementById("delete" + x).disabled = false;
			}
			c[i].ondragover = function() {
				allowDrop(event);
			}
		}
	}
	
  	
  	function saveMealPlan(){
  		params = new mealPlan();
  	
  		var form = document.createElement("form");
    	form.setAttribute("method", "post");
    	form.setAttribute("action", '/meal_plans');
        for(var key in params) {
			if(params.hasOwnProperty(key)) {
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", key);
				hiddenField.setAttribute("value", params[key]);
				form.appendChild(hiddenField);
			}
    	}
    	document.body.appendChild(form);
    	form.submit();	
  	}
  	
  	function mealPlan(){
  		var mealidstr = "";
  		for (var i = 0; i < dur*3; i++) {
  			if(!plan[i]){
  				plan[i] = "{{ dummy_meal_id }}"
  			}
        	mealidstr = mealidstr + plan[i] + "--";
        }
		this.meal_ids = mealidstr;
		this.name = document.getElementById("meal_plan_name");
		this.duration = dur;
		this.tags = $$("select").tagsinput('items');
  	}
  	
	function deleteMealFromPlan(id) {
		console.log(id);
		var sliceId = id.slice(6);
		var canvasId = "canvas" + sliceId;
		redraw(canvasId);
		console.log(plan[sliceId]);
		plan[sliceId] = undefined;
		console.log(plan[sliceId]);
		inplan--;
		document.getElementById(id).disabled = true;
		if (inplan <= 0) {
			document.getElementById("saveMealPlanBtn").disabled = true;
		}
	}
</script>

<script>
	function search(){
		var s = document.getElementById("search_box").value.toLowerCase();
		var md = document.getElementById("meal_display");
		var c = md.childNodes;
		for (i in c){
			if(c[i].nodeName === "DETAILS"){
				var flag = false;
				var id = c[i].id.slice(0, -8);
				c[i].removeAttribute("open");
				var n = document.getElementById(id + "_name").innerHTML.toLowerCase();
				if(n.indexOf(s) != -1){
					flag = true;
				} else {
					var str = n + "_tags";
					var tagBox = document.getElementById(id + "_tags");
					var t = tagBox.childNodes;
					for(j in t){
						if(t[j].nodeName === "A" && t[j].innerHTML.toLowerCase() === s){
							flag = true;
						}
					}
				}
				var h = document.getElementById(id + "_hr")
				if (flag == true){
					c[i].style.display = "block";
					if (h){
						h.style.display = "block";
					}
				} else {
					c[i].style.display = "none";
					if (h){
						h.style.display = "none";
					}
				}
			}
		}
		return false;
	}
	
	function setSearch(tag){
		document.getElementById("search_box").value = tag;
		search();
		return false;
	}
	
	function clearSearch(){
		document.getElementById("search_box").value = "";
		search();
		return false;
	}
</script>

<!-- bootstrap required scripts -->
<script src="{{ url_for('static', filename='javascript/circle_canvas.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dragNdrop.js') }}"></script>
{% endblock %}
