{% extends "layout.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}" >
{% endblock %}
{% block body %}    
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sticky-top sb">
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form></div>
            <div class="col-sm-6">
            {%for meal in meals%}
            <details>
                <summary>
                  <div class="row align-items-center">
                      <div class="col-sm-2">
                        <img src={{ meal.img_url }} id={{ meal._id }} draggable="true" onmousedown="get_pos(event)" ondragstart="drag(event)" class="img-fluid img-thumbnail" alt="Meal image">
                      </div>
                      <div class="col-sm-10">
                          <h2>{{meal.name}}</h2>
                          <p>Approximate cooking time: {{meal.total_cooking_time}}</p>
                          <small> <a class="nav-link" href="/meals/{{meal._id}}">View details</a></small>
                      </div>
                  </div>
                </summary>
                <h5>Ingredients</h3>
                  <ul>
                    {% for ingredient in meal.ingredients %}
                      <li>{{ingredient}}</li>
                    {% endfor %}
                  </ul> 
                <h5>Instructions:</h3>
                <p> 
                  <ol>
                  {% for step in meal.recipe %}
                    <li>{{ step }}</li>
                  {% endfor %}
                  </ol>
                </p>
                <button type="button" onclick="addMealToPlan('{{meal._id}}', '{{meal.name}}')"> Add meal </button>
              </details>
              <hr>
            {% endfor %}
            </div>
          <div class="col-sm-3 sb">
            <form>
                <h3>Current meal plan</h3>
				<hr>
				<h4>Set your meal plan (days)?</h4>
				<div class="row">
					<button type="button" onclick="setDisplayPlan(3)" class="btn btn-outline-secondary btn-lg">3</button>
					<button type="button" onclick="setDisplayPlan(5)" class="btn btn-outline-secondary btn-lg">5</button>
					<button type="button" onclick="setDisplayPlan(7)" class="btn btn-outline-secondary btn-lg">7</button>
				</div>
                <div id="siteAds"></div>
            </form>
          </div>
      </div>
  </div>
  <!--<footer id="pageFooter">Footer</footer>-->

<!-- Page scripts -->
<script>
	var plan = [];
	
	function setDisplayPlan(duration) {
			var num = 0;
			<!-- Resets the siteads div -->
			document.getElementById("siteAds").innerHTML = "";
			var idCount = 0;
			while (num < duration) {
				num++;
				var detailsNode = document.createElement("details")
				var summaryNode = document.createElement("summary")
				var titleNode = document.createElement("h3")
				var textNode = document.createTextNode("Day " + num);
				
				titleNode.appendChild(textNode);
				summaryNode.appendChild(titleNode);
				detailsNode.appendChild(summaryNode);
				
				var rowNode = document.createElement("div");
				rowNode.className = "row";
				var mealTime = ["Breakfast", "Lunch", "Dinner"];

				for (var i = 0; i < 7; i++) {
					var colNode = document.createElement("div");
				
					if (i < 3) {
						var text = document.createTextNode(mealTime[i]);
						colNode.className = "col";
						colNode.appendChild(text);
					} else if (i == 3) {
						colNode.className = "w-100";
					} else {
						idCount++;
						colNode.className = "col";
						var circleNode = document.createElement("canvas");
						circleNode.id = ("canvas" + idCount);
						circleNode.className = "meal_drop_circle";
						circleNode.appendChild(document.createTextNode("Your browser does not support HTML5 canvas tag."));
						colNode.appendChild(circleNode);
					}
					rowNode.appendChild(colNode);
				}
				detailsNode.appendChild(rowNode);
				document.getElementById("siteAds").appendChild(detailsNode);
				document.getElementById("siteAds").appendChild(document.createElement("hr"));
			}
			draw();
			setDroppable();
	}
	
	function setDroppable() {
		var c = document.getElementsByClassName("meal_drop_circle");
		for (var i = 0; i < c.length; i++) {
			c[i].ondrop = function() {
				drop(event);
			}
			c[i].ondragover = function() {
				allowDrop(event);
			}
		}
	}
	
	function displayPlan(){
		console.log(plan);
		var e = document.getElementById("siteAds");
		e.innerHTML = "";
		for (m in plan) {
			var t = document.createElement("div");
			t.innerHTML = plan[m].name + "  ";
			var b = document.createElement('input');
			b.type = 'button';
			b.value = "x";
			b.addEventListener('click', function() {
    			removeMealFromPlan(m);
			}, false);
			t.appendChild(b);
			e.appendChild(t);
		}
		if (plan.length != 0) {
			var b = document.createElement('input');
			b.type = 'button';
			b.value = "Save Meal Plan";
			b.addEventListener('click', function() {
    			saveMealPlan();
			}, false);
			e.appendChild(b);
		}
	}
	
	function addMealToPlan(mealindex, mealname) {	
		var m = {"id": mealindex, "name": mealname}
  		plan.push(m);
  		displayPlan();
  	}
  	
  	function removeMealFromPlan(index){
  		plan.splice(index, 1);
  		displayPlan();
  	}
  	
  	function saveMealPlan(){
  		params = new mealPlan();
  	
  		var form = document.createElement("form");
    	form.setAttribute("method", "post");
    	form.setAttribute("action", '/meal_plans');
        for(var key in params) {
			if(params.hasOwnProperty(key)) {
				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", key);
				hiddenField.setAttribute("value", params[key]);
				form.appendChild(hiddenField);
			}
    	}
    	document.body.appendChild(form);
    	form.submit();	
  	}
  	
  	function mealPlan(){
  		this.name = "test";
  		var mealidstr = "";
  		for(i in plan) {
        	mealidstr = mealidstr + plan[i].id + "--";
        }
		this.meal_ids = mealidstr;
		this.duration = plan.length;
		this.start_date = Date.now();
  	}
  	
</script>

<!-- bootstrap required scripts -->
<script src="{{ url_for('static', filename='javascript/circle_canvas.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dragNdrop.js') }}"></script>
{% endblock %}
