{% extends "layout.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/meal_plan.css') }}" >
{% endblock %}
{% block body %}    
   

    <div id="current-meal-plan" class="meal-plan-form">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <h4>Meal plan: {{ meal_plan.name }} </h4>
          </div>
          <div class="col">
            <h4>Breakfast</h4>
          </div>
          <div class="col">
            <h4>Lunch</h4>
          </div>
          <div class="col">
            <h4>Dinner</h4>
          </div>
        </div>
        {% for mday in meal_plan.meal_id_list %}
          <div class="row">
            <div class="col-2 text">
              Day {{ loop.index }}
            </div>
            {% for m in mday %}
            <div class="col">
            {% if not m.id is equalto dummy %}
            <a href="/meals/{{m.id}}" class="img-link">
            {% endif %}
              
                <div id="current-meal-plan-container" class="container">
                  <img src="{{ m.img_url }}" alt="{{m.name}}" class="image img-thumbnail">
                 
                  <div class="middle">
                    <div class="text"> {{m.name}}</div>
                  </div>
                </div>  
                {% if not m.id is equalto dummy %}
            	</a>
            	{% endif %}                  
              </div>
               
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>

   
<!-- bootstrap required scripts -->
<script src="{{ url_for('static', filename='javascript/circle_canvas.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/dragNdrop.js') }}"></script>
{% endblock %}
