{% extends "layout.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/my_meal_plan.css') }}" >
{% endblock %}
{% block body %}  

  <div class="container-fluid">
    <div class="row justify-content-md-center my-meal-plan-form">
      <div>
        <h1> Current Meal Plan </h1>
      </div>
    </div>
    <div class="row justify-content-md-center"> 
      {% if user.current_meal_plan %}
      <div id="current-meal-plan">
        <div class="container">
          <div class="row">
            {% for mday in user.current_meal_plan.meal_id_list %}
                <div class="col card">
                  <div class="card-body">
                    <div class="row">
                      {% for m in mday %}
                        <div class="col">
                          <p> {{ m.name }} </p>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="row">
                    {% for m in mday %}
                      <div class="col">
                        <image class="card-img-bottom img-rounded" src="{{ m.img_url }}" alt="{{ m.name }}">
                      </div>
                    {% endfor %}
                  </div>
                </div>
            {% endfor %}
            </div>
          </div>
          <form method=POST action="{{ url_for('my_meal_plan') }}">
            <div class="form-group">
              <input type="hidden" class="form-control" name="userid" value="{{user.id}}">       
              <input type="hidden" class="form-control" name="mpid" value="{{user.current_meal_plan.id}}">       
              <input type="hidden" class="form-control" name="action" value="cancel">        
              <button type="submit" class="btn btn-primary btn-block">Cancel Current Meal Plan</button>
              <small> <a class="nav-link" href="/meal_plans/{{user.current_meal_plan.id}}">View plan details</a></small>
            </div>
          </form>
        </div>
      </div>
    {% else %}
    <p> There is currently no active meal plan. Please choose one from below.</p>
    {% endif %}
    </div>
    <div class="row justify-content-md-center my-meal-plan-form">
      <div>
        <h1> Saved Meal Plans</h1>
      </div>
    </div>
    <div class="row justify-content-md-center"> 
      {% if user.meal_plan_ids %}
        <div id="saved-meal-plans" class="col-sm-8">
          {% for mp in user.meal_plan_ids %}
            <div class="container">
              <div class="row">
                {% for mday in mp.meal_id_list %}
                <div class="col card">
                  <div class="card-body">
                    <div class="row">
                      {% for m in mday %}
                        <div class="col">
                          <p> {{ m.name }} </p>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="row">
                    {% for m in mday %}
                      <div class="col">
                        <image class="card-img-bottom img-rounded" src="{{ m.img_url }}" alt="{{ m.name }}">
                      </div>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
              <form method=POST action="{{ url_for('my_meal_plan') }}">
                <div class="form-group">
                  <input type="hidden" class="form-control" name="userid" value="{{user.id}}">       
                  <input type="hidden" class="form-control" name="mpid" value="{{mp.id}}">       
                  <input type="hidden" class="form-control" name="action" value="start">        
                  <button type="submit" class="btn btn-primary btn-block">Start Meal Plan</button>
                  <small> <a class="nav-link" href="/meal_plans/{{mp.id}}">View plan details</a></small>
                </div>
              </form>
            {% endfor %}
        </div>
      {% else %}
        <p> There is currently no saved meal plans. Please go to add plan and create one now! </p>
      {% endif %}
    </div>
  <!--<footer id="pageFooter">Footer</footer>-->

<!-- bootstrap required scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% endblock %}
